Source: lua-nginx-elastic
Section: misc
Priority: extra
Maintainer: Alexander Kushnarev <avkushnarev@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/shoonoise/lua-ngx-elastic
Vcs-Git: git://github.com/shoonoise/lua-ngx-elastic.git 
Vcs-Browser: https://github.com/shoonoise/lua-ngx-elastic

Package: lua-nginx-elastic
Architecture: all
Depends: ${misc:Depends}, liblua5.1-json, liblua5.1-socket2
Description: Lua script for nginx which send access logs into elasticsearch
 You need nginx with lua support installed to use this package
